<div class="card px-4">
    <div class="well">
        <aside class="my-3">
            <h3 class="h4 text-uppercase text-secondary font-weight-bold">Siga-nos</h3>
            <div class="mb-2">
                <a class="btn btn-facebook rounded-0" href="https://www.facebook.com/diegonevesfariaoficial">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a class="btn btn-linkedin rounded-0" href="https://www.linkedin.com/in/diegonevesfaria">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a class="btn btn-github rounded-0" href="https://github.com/diegonevesfaria">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a class="btn btn-youtube rounded-0" href="https://www.youtube.com/channel/UCLqLyfqee0VGBl_GjePrwXw">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
        </aside>
        <aside class="my-2">
            <h3 class="h4 text-uppercase text-secondary font-weight-bold">Categorias</h3>
            <div>
                <ul class="list-unstyled categoria">
                    <li><a class="link-linkedin" href="/categoria/front-end" title="Front-End">Front-End</span></li>
                    <li><a class="link-linkedin" href="/categoria/back-end" title="Back-End">Back-End</span></li>
                    <li><a class="link-linkedin" href="/categoria/mobile" title="Mobile">Mobile</span></li>
                    <li><a class="link-linkedin" href="/categoria/devops" title="DevOps">DevOps</span></li>
                    <li><a class="link-linkedin" href="/categoria/agile" title="Desenvolvimento Ágil">Agile</span></li>

                </ul>
            </div>
        </aside>
        <aside>
            <h3 class="h4 text-uppercase text-secondary font-weight-bold">Twitter</h3>
            <a class="twitter-timeline" href="https://twitter.com/diegonevesfaria?ref_src=twsrc%5Etfw">Tweets by diegonevesfaria</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </aside>
    </div>
</div>