<section class="container-fluid text-white">
    <div class="row bg-linkedin">
        <div class="col-lg-7 p-0">
            <div id="carouselCidades" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselCidades" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselCidades" data-slide-to="1"></li>
                    <li data-target="#carouselCidades" data-slide-to="2"></li>
                    <li data-target="#carouselCidades" data-slide-to="3"></li>
                    <li data-target="#carouselCidades" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/categoria/front-end" title="Desenvolvimento Front-End">
                            <img class="d-block w-100" src="/assets/img/carosel/front-end.jpeg" alt="Front-End">
                        </a>
                        <div class="carousel-caption">
                            <div class="box-shadow p-2">
                                <h3 class="display-5 m-0">Desenvolvimento Front-End</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/categoria/back-end" title="Desenvolvimento Front-End">
                            <img class="d-block w-100" src="/assets/img/carosel/back-end.jpeg" alt="Back-End">
                        </a>
                        <div class="carousel-caption">
                            <div class="box-shadow p-2">
                                <h3 class="display-5 m-0">Desenvolvimento Back-End</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/categoria/mobile" title="Desenvolvimento Mobile">
                            <img class="d-block w-100" src="/assets/img/carosel/mobile.jpg" alt="Mobile">
                        </a>
                        <div class="carousel-caption">
                            <div class="box-shadow p-2">
                                <h3 class="display-5 m-0">Desenvolvimento Mobile</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/categoria/DevOps" title="Desenvolvimento DevOps">
                            <img class="d-block w-100" src="/assets/img/carosel/devops.jpeg" alt="DevOps">
                        </a>
                        <div class="carousel-caption">
                            <div class="box-shadow p-2">
                                <h3 class="display-5 m-0">DevOps</h3>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="/categoria/agile" title="Desenvolvimento Ágil">
                            <img class="d-block w-100" src="/assets/img/carosel/desenvolvimento-agil.jpg"
                                alt="Desenvolvimento Ágil">
                        </a>
                        <div class="carousel-caption">
                            <div class="box-shadow p-2">
                                <h3 class="display-5 m-0">Desenvolvimento Ágil</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselCidades" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselCidades" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
        <div class="col-lg-5 p-4 align-self-center">
            <h1 class="display-5 font-weight-bold">Receba nossos Posts</h1>
            <p class="lead">Cadastre-se e fique sempre atualizado sobre o universo de Tecnologia e Desenvolvimento.</p>
            <form action="https://diegonevesfaria.us16.list-manage.com/subscribe/post?u=2bcb40392c80153befedf0740&amp;id=d3143d3d5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="input-group input-group-lg">
                    <input class="form-control" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail" aria-label="E-mail" required/>
                    <span class="input-group-append">
                        <input class="btn btn-success" type="submit" value="Inscreva-se" name="subscribe" id="mc-embedded-subscribe"></input>
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- FIM INTRO -->