<div class="row">
    <div class="col-md-3">
        <div class="card mb-4">
            <a style="text-decoration:none;" target="_blank" href="https://www.facebook.com/diegonevesfariaoficial" rel="noopener">
                <div class="social-card-header align-middle text-center bg-facebook">
                    <i class="fab fa-facebook-square"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <a style="text-decoration:none;" target="_blank" href="https://www.linkedin.com/in/diegonevesfaria" rel="noopener">
                <div class="social-card-header align-middle text-center bg-linkedin">
                    <i class="fab fa-linkedin"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <a style="text-decoration:none;" target="_blank" href="https://github.com/diegonevesfaria" rel="noopener">
                <div class="social-card-header align-middle text-center bg-github">
                    <i class="fab fa-github"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <a style="text-decoration:none;" target="_blank"
               href="https://www.youtube.com/channel/UCLqLyfqee0VGBl_GjePrwXw" rel="noopener">
                <div class="social-card-header align-middle text-center bg-youtube">
                    <i class="fab fa-youtube"></i>
                </div>
            </a>
        </div>
    </div>
</div>