<nav class="navbar navbar-expand-lg navbar-light bg-light line-shadow">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div class="container">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <h1 class="h4 text-dark text-uppercase font-weight-bold mb-0">{{ site.title | escape }}</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {%- if page_paths -%}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link text-muted text-uppercase dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item text-muted" href="/categoria/front-end">Front-End</a>
            <a class="dropdown-item text-muted" href="/categoria/back-end">Back-End</a>
            <a class="dropdown-item text-muted" href="/categoria/mobile">Mobile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-muted" href="/categoria/devops">DevOps</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-muted" href="/categoria/agile">Agile</a>
          </div>
        </li>
        {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li class="nav-item">
          <a class="nav-link text-muted text-uppercase" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
</nav>

