<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-BR" }}">

  {%- include head.html -%}

  <body class="bg-body">

    {%- include header.html -%}

    <div>
      {{ content }}
    </div>

    {%- include footer.html -%}

    <script type="text/javascript" src="{{ "/assets/js/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/popper.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/app.js" | relative_url }}"></script>

    <script type="text/javascript" src="{{ "/assets/js/highlight.pack.js" | relative_url }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script id="dsq-count-scr" src="//diegonevesfaria.disqus.com/count.js" async></script>

  </body>
</html>
