---
layout: default
pagination:
  enabled: true
---

{%- include carousel.html -%}
<section class="bg-body">
  <div class="container py-3">
    <h2 class="h4 text-dark text-uppercase pb-2 font-weight-bold">Últimas Postagens</h2>
    <div class="row">
      <div class="col-sm-12 col-md-8">

        {%- if site.posts.size > 0 -%}
          {% for post in paginator.posts %}
        <article class="card mb-3">
          {% if post.image %}
          <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">
            <img class="img-fluid" src="{{ post.image | escape }}"/>
          </a>
          {% else %}
          <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">
            <img class="img-fluid" src="{{base.url}}/assets/img/image-site.webp" alt="{{ post.title | escape }}"/>
          </a>
          {% endif %}
          <div class="m-3">
            <h2>
              <a class="link-linkedin" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <div class="mb-3">
              {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
              <span class="text-muted mr-2"><i class="fa fa-calendar-alt"></i> {{ post.date | date: date_format }}</span>
              <span class="text-muted"> <i class="fa fa-user"></i> {{ post.author | escape }}</span>
            </div>

            <div>
              <p class="text-justify">{{ post.description }}</p>
              <a class="btn btn-sm btn-linkedin" href="{{ post.url | relative_url }}">Continue Lendo</a>
            </div>
          </div>
        </article>
        {%- endfor -%}
        {%- endif -%}

        <div class="text-center mb-2">
            {% if paginator.previous_page %}
              <a class="btn btn-outline-primary" href="{{ paginator.previous_page_path }}">Anterior</a>
            {% endif %}

            <span>Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>

            {% if paginator.next_page %}
              <a class="btn btn-outline-primary" href="{{ paginator.next_page_path }}">Próximo</a>
            {% endif %}
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        {% include aside.html%}
      </div>
    </div>
  </div>
</section>
<div class="bg-white py-3">
  <div class="container">
    <h2 class="h4 text-uppercase text-dark border-bottom font-weight-bold">Siga-nos nas Redes Sociais</h2>
    <div>
      {%- include follow.html -%}
    </div>
  </div>
</div>
