---
layout: default
comments: true
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header class="text-white bg-linkedin py-3 mb-4">
        <div class="text-center text-white">
            <h1 class="text-center pt-3" itemprop="name headline">{{ page.title | escape }}</h1>
            <p class="pb-3" itemprop="name alternativeHeadline">{{ page.description | escape }}</p>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="card mb-3">
                    {%- if page.youtube -%}
                    {% include youtube.html id=page.youtube %}
                    {%- else -%}
                        <img class="img-fluid" src="{{ page.image }}"/>
                    {%- endif -%}
                    <div class="m-3">
                        <div class="mb-3">
                            <span class="text-muted mr-2" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><i
                                  class="fa fa-calendar-alt"></i>
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ page.date | date: date_format }}
                            </span>
                            {%- if page.author -%}
                            <span class="text-muted" itemprop="author" itemscope itemtype="http://schema.org/Person"> <i
                                    class="fa fa-user"></i><span itemprop="name"> {{ page.author }}</span></span>
                            {%- endif -%}
                        </div>
                        <div itemprop="articleBody">
                            {{ content }}
                        </div>
                        <div>
                            <h2 class="h5 text-uppercase text-dark border-bottom font-weight-bold">Siga-nos nas Redes Sociais</h2>
                            <div>
                                {% include follow.html %}
                            </div>
                        </div>
                        <div>
                            <h2 class="h5 text-uppercase text-dark border-bottom font-weight-bold">Comentários</h2>
                            <div>
                                {% include comments.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
